global:
  message: welcome to global microservices Environment !!

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh
  endpoint:
    health:
      show-details: always
